<div><h3>Aide</h3>  

 <div class="accordion" id="accordion_detail">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_detail" href="#collapseOne">
        Liste des articles
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
      <p>Permet de visualiser la liste des articles présents dans le catalogue.</p>
      <p>Pour y accéder, utiliser le bouton présent dans la page d'accueil ou le menu.</p>
      <p>Un clic sur l'article souhaité, présente le détail de l'aticle.
       </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_detail" href="#collapseTwo">
        Détails des articles
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Les détails des articles présentés sont :
        <ul>
        <li>Son identifiant</li>
        <li>Sa description</li>
        <li>Sa catégorie</li>
        <li>Son code EAN</li>
        <li>L'état de son stock (nombre de pièce restante)</li>
        <li>Son prix (achat et vente)</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_detail" href="#collapseThree">
        Recherche d'un article
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
         <p>La recherche peut être réalisé à partir du code EAN, de l'identifiant ou de la description.</p>
         <p>Il est également possible de filtrer la liste d'articles.</p>
      </div>
    </div>
  </div>  
  
<div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_detail" href="#collapseFour">
        A venir
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
         <p>Plusieurs fonctionnalités sont en version "bêta" :
         <ul>
        <li>La recherche des magasins à proximité à partir de la géolocalisation de l'utilisateur</li>
        <li>La possibilité de scanner un code barre</li>
        </ul>
         </p>
         
      </div>
    </div>
  </div>
    
</div>
 
 
 </div>