	<div class="google-map" 
		center="center"
		zoom="zoomProperty" 
		markers="markers"
		latitude="clickedLatitudeProperty"
		longitude="clickedLongitudeProperty"
		mark-click="true"
		draggable="true"
		style="height: 60%; width: 100%">
	</div>
	
	<div>
<!--	<input type="number" ng-model="center.lat"/>
	<input type="number" ng-model="center.lng"/> -->
	Valeur : {{center.lat}} / {{center.lng}}
	
	<a class="btn" ng-click="findMe()" href="">Find me</a>
	<br>
	Les magasins les plus proches sont ...
	</div>